/*Author: Nidhi Sharma
Version: 1.0
*/
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);

html, body, #container{
width:100%;
height:100%;
overflow:hidden;
margin: 0px;
font-family: 'Hind Vadodara', sans-serif;

}
#home
{
width:100%;
height:100%;
overflow:hidden;
margin: 0px;
background:#8c8c8c;	//home page's background
}
#otherpage
{
width:100%;
height:100%;
overflow:hidden;
margin: 0px;
background:#737373;	//other page's background
}
#content
{
width:100%;
height:100%;
overflow:hidden;
margin: 0px;
z-index:0;
position:fixed;
background: transparent;
}
#menucontainer
{
width: 15%;		//Menu width
height: 95%; 		//Menu height
background:transparent;
color: white;
display:none;
z-index:1;
position:absolute;
}
#buttonmenu
{
text-decoration:none;
color: black;
}
.menulink
{
text-decoration:none;
color: white;
}

.collapse 
{

 border: 1px solid #737373;
padding: 2px;
width: 95%;
margin:auto;
background:#404040; //main menu background
}
.menubar 
{

border: 1px solid white;
background:#404040; //sub-menu background
padding: 0px;
width: 95%;
margin:auto;
opacity: 0.9;
}
.expand 
{

border: 1px solid #737373;
padding: 2px;
width: 95%;
margin:auto;
background:#404040; //#5C85AD; main menu background
}
.arrow
{
text-align:right;
}


